a, a:hover, .text-primary, .btn-primary .badge, .btn-link,a.list-group-item.active > .badge,.nav-pills > .active > a > .badge, p.drop-caps:first-letter, .accent-color, .nav-np .next:hover, .nav-np .prev:hover, .basic-link, .pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus, .icon-box-inline span, .pricing-column h3, .post .post-title a:hover, a, .post-actions .comment-count a:hover, .pricing-column .features a:hover, .list-group-item a:hover, .icon-box.ibox-plain .ibox-icon i,.icon-box.ibox-plain .ibox-icon img, .icon-box.ibox-border .ibox-icon i,.icon-box.ibox-border .ibox-icon img, address strong, ul.checks > li > i, ul.angles > li > i, ul.carets > li > i, ul.chevrons > li > i, ul.icon > li > i, .widget li .meta-data a:hover, .sort-source li.active a, #menu-toggle:hover, .site-footer .footer_widget a:hover, .megamenu-sub-title i, .fact-ico, .widget_categories ul li a:hover, .widget_archive ul li a:hover, .widget_recent_entries ul li a:hover, .widget_recent_entries ul li a:hover, .widget_recent_comments ul li a:hover, .widget_links ul li a:hover, .widget_meta ul li a:hover, .widget.recent_posts ul li h5 a:hover, .widget_links ul li.active a, .dd-menu > li a:hover, .dd-menu > li.current-menu-item > a, .dd-menu > li.current-menu-parent > a, .widget a:hover, .testimonial-image .fa, .woocommerce ul.products li.product .price, .menu-services li a:hover{
	color:#3A89C9;
}
.accent-color{
	color:#3A89C9!important;
}
p.drop-caps.secondary:first-letter, .btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.label-primary,
.progress-bar-primary,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
.panel-primary > .panel-heading, .carousel-indicators .active, .flex-control-nav a:hover, .flex-control-nav a.flex-active, .media-box .media-box-wrapper, .icon-box.icon-box-style1:hover .ico, .owl-theme .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span, .ibox-effect.ibox-dark .ibox-icon i:hover,.ibox-effect.ibox-dark:hover .ibox-icon i,.ibox-border.ibox-effect.ibox-dark .ibox-icon i:after, .icon-box .ibox-icon i,.icon-box .ibox-icon img, .icon-box .ibox-icon i,.icon-box .ibox-icon img, .icon-box.ibox-dark.ibox-outline:hover .ibox-icon i, .pricing-column.highlight h3, .fblock-image-overlay, .overlay-accent, .tagcloud a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .social-share-bar .share-buttons-tc li a, .dd-menu > li ul, .social-icons-colored li.envelope a:hover, .social-icons-inverted li.envelope a, .dd-menu li span:after, .btn-services{
  background-color: #3A89C9;
}
.donate-button, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce a.button.alt:active, .woocommerce button.button.alt:active, .woocommerce input.button.alt:active, .woocommerce #respond input#submit.alt:active, .woocommerce #content input.button.alt:active, .woocommerce-page a.button.alt:active, .woocommerce-page button.button.alt:active, .woocommerce-page input.button.alt:active, .woocommerce-page #respond input#submit.alt:active, .woocommerce-page #content input.button.alt:active, .wpcf7-form .wpcf7-submit, .accent-bg, .accent-overlay:before{
  background-color: #3A89C9!important;
}
p.demo_store, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt, .wpcf7-form .wpcf7-submit, .woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce .widget_layered_nav ul li.chosen a, .woocommerce-page .widget_layered_nav ul li.chosen a{
  background: #3A89C9;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active{
  background: #3A89C9;
  opacity:.9
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
.panel-primary,
.panel-primary > .panel-heading, .btn-primary.btn-transparent, .icon-box.icon-box-style1 .ico, .icon-box-inline span, .icon-box.ibox-border .ibox-icon, .icon-box.ibox-outline .ibox-icon, .icon-box.ibox-dark.ibox-outline:hover .ibox-icon, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border-color:#3A89C9;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message{
	border-top-color:#3A89C9;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body, .dd-menu > li > a:before, .dd-menu > li ul:before{
	border-bottom-color:#3A89C9;
}
.dd-menu > ul > li > ul li:hover, blockquote, #sidebar-col .widget_nav_menu ul li.current-menu-item a, #sidebar-col .widget_nav_menu ul li a:hover{
	border-left-color:#3A89C9;
}
.dd-menu > li ul li ul:before{
	border-right-color:#3A89C9;
}
.ibox-border.ibox-effect.ibox-dark .ibox-icon i:hover,.ibox-border.ibox-effect.ibox-dark:hover .ibox-icon i {
	box-shadow:0 0 0 1px #3A89C9;
}
.ibox-effect.ibox-dark .ibox-icon i:after {
	box-shadow:0 0 0 2px #3A89C9;
}
@media only screen and (max-width: 992px) {
	.dd-menu > li:hover > a, .dd-menu > li:hover > a > i{
		color:#3A89C9;
	}
}

/* Secondary Color Set */
.topbar, hr.sm, .btn-secondary, .social-icons-colored li.phone a:hover, .social-icons-inverted li.phone a, .icon-box.ibox-secondary .ibox-icon i,.icon-box.ibox-secondary .ibox-icon img, .woocommerce span.onsale, .woocommerce-page span.onsale, .cart-module-footer{
	background:#9CC4E4;
}
.obituary-list-item .meta-data, .team-grid-item .meta-data, .team-list-item .meta-data, .icon-box.ibox-border.ibox-secondary .ibox-icon i,.icon-box.ibox-border.ibox-secondary .ibox-icon img,.icon-box.ibox-plain.ibox-secondary .ibox-icon i,.icon-box.ibox-plain.ibox-secondary .ibox-icon img{
	color:#9CC4E4;
}
.secondary-color{
	color:#9CC4E4!important;
}
.cta-fw, .secondary-bg, .secondary-overlay:before{
	background-color:#9CC4E4!important;
}
.icon-box.ibox-secondary.ibox-outline .ibox-icon, .icon-box.ibox-border.ibox-secondary .ibox-icon {
	border-color:#9CC4E4;
}